* {
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    outline: none;
}

.logo-conversor {
    border-radius: 30px;
    display: block;
    width: 200px;
    margin: 20px auto;
}

body {
    background-color: #1E1E1E;
}

main {
    display: block;
    border-radius: 20px;
    width: 400px;
    background-color: #F4F4F4;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select,
input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    color: #555;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
}

button {
    display: block;
    border-radius: 5px;
    background: #76C851;
    width: 327px;
    height: 48px;
    color: #FFF;
    border: none;
    margin: 23px auto 36px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 1;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vector-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.currency-value,.currency-value-to-convert {
    margin: 0;
    font-size: 20px;
    color: #555;
}